<head>
<meta charset="utf-8">
<title>Solitaire</title>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
</head>
<!-- adding a comment-->

<body>
<header>

    <a href="#"><h1 class="site-title"><center><b>Aces Up Solitaire</b></center></h1></a>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="#">New Game</a></li>
        </ul>
    </nav>
</header>
<img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519660-164_QuestionMark-128.png" id="helpBut" />
<div id="infobox">
    <h4>General Rules:</h4>
    <ol>
        <li>Deal cards with the deal button</li>
        <li>When a card of the same suit and of lower number is present with a card of the same suit and higher number, the lower number card can be removed</li>
        <li>When you have an empty column you can choose to move a card there with the move button</li>
        <li>For more specific rules, consult the <a target="_blank" href="https://en.wikipedia.org/wiki/Aces_Up">wikipedia page</a></li>
    </ol>
    <h4>How to Play:</h4>
    <ul>
        <li>Hit the deal button to deal four cards to the screen</li>
        <li>Use the remove button to remove a card from a column</li>
        <li>Enter the column you want to move a card from, followed by where you want to move it to, and hit the move button to move the cards</li>
    </ul>
</div>
<script type="text/javascript">
document.getElementById('helpBut').addEventListener("click", function(event) {
    (function(event) {
        var x = document.getElementById('infobox');
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }).call(document.getElementById('helpBut'), event);
});

</script>
<div class="playingCards">
<div class="deckContainer">
	<ul class="deck" id="deck">
				<li class="card back">*</li>
				<li class="card back">*</li>
				<li class="card back">*</li>
				<li class="card back">*</li>
			</ul>
	</div>
<div class="colsContainer">
			<ul class="cascade" id="c0">
				
			</ul>
			
	
			<ul class="cascade" id="c1">
				
			</ul>
			
			<ul class="cascade" id="c2">
				
			</ul>
			
			<ul class="cascade" id="c3">
				
			</ul>
</div>


	<div class="discardContainer" id="discard">
		<div class="card rank-7 spades">
    
		</div>
	</div>
</div>


<!--<BR>Remove from: <button id="Remove1">Column1</button><button id="Remove2">Column2</button><button id="Remove3">Column3</button><button id="Remove4">Column4</button>-->

<BR>Move from column <input type="text" id="from_col"  /> to <input type="text" id="to_col"  /> <button id="moveButton">Move</button>

<script>

var cardColumns = document.getElementsByClassName("cascade");
var deck = document.getElementById("deck");

cardColumns[0].addEventListener("click", function(event) {
		removeCard(0);
	});
	cardColumns[1].addEventListener("click", function(event) {
		removeCard(1);
	});
	cardColumns[2].addEventListener("click", function(event) {
		removeCard(2);
	});
	cardColumns[3].addEventListener("click", function(event) {
		removeCard(3);
	});

deck.addEventListener("click", dealCards);

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[1], function( key, val ) {
        $( '#c1 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[2], function( key, val ) {
        $( '#c2 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 .l'+key ).html(val.value + val.suit);
    });



}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
console.log(data);
game = data;
});


function dealCards(){
console.log("dealCards called");
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
};


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#NOTRemove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>



</body>
</html>
